.section{
	&.multimedia{
		.multimedia-content{
			@include make-row;
			.last-video{
				@include make-sm-column(4);
				.page-header{}
				.video-content{
					.video-img{
						a{
							position: relative;
							display: block;
							height: 100%;
							width: 100%;
							text-align: center;
							font-size: 36px;
							img{
								
							}
							&:before{
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									display: inline-block;
									font-family:"FontAwesome";
									text-rendering: auto;
									-webkit-font-smoothing: antialiased;
									-moz-osx-font-smoothing: grayscale;
									-webkit-transform: translate(0,0);
									-ms-transform: translate(0,0);
									-o-transform: translate(0,0);
									transform: translate(0,0);
									content: "\f144";
									line-height: 215px;
								}
						}
					}
				}
			}

			.social-links{
				@include make-sm-column(2);
				ul#menu-menu-social{
					width: 100%;
					li{
						display: block;
						width: 100%;
						a{
							color: $color--gray;
							i{
								margin-right: 7px;
							}
						}
					}
				}
			}

			.last-photo{
				@include make-sm-column(6);
				.photo-content{

					.photo-img{
						@include make-row;
						margin-right: -5px;
						margin-left: -5px;
						a{
							@include make-sm-column(6);
							@include make-xs-column(6);
							padding-right: 5px;
							padding-left: 5px;
							img{
								display: block;
								max-width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

.pre__footer{
	background-color: $color--gray--lighter;
	padding: 30px 0 20px;
	#slider__footer{
		.owl-item{
			.item{
				a{
					img{
						border: 1px solid $color--gray--light;
					}
				}
			}
		}
	}
}

.content-info{
	background-color: #65d5fa;
	background-image: url(../images/footer__bg.jpg)!important;
	background-repeat: repeat-x;
	background-position: center bottom;
	a{color: $color--gray;}
	
	.footer__brand{
		padding: 50px 0 0px;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 70%, #e1f4fd 80%, #65d5fa 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#ffffff), color-stop(80%,#e1f4fd), color-stop(100%,#65d5fa)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 70%,#e1f4fd 80%,#65d5fa 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 70%,#e1f4fd 80%,#65d5fa 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 70%,#e1f4fd 80%,#65d5fa 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 70%,#e1f4fd 80%,#65d5fa 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#65d5fa',GradientType=0 ); /* IE6-9 */

		.footer__logo{
			.logo{
				a{
					width: 100% !important;
					height: 65px !important;
					background-image: url(../images/footer__logo--sm.png)!important;
					background-position: center center;
					background-repeat: no-repeat;
					display: inline-block;
					line-height: 1;
					margin: 0 auto;
					span{
						position: relative;
						display: block;
						text-indent: 100%;
						white-space: nowrap;
						overflow: hidden;
						margin: 0;
						padding: 0;
					}
				}
			}
			.menu-menu-social-container{
				@include make-row;
				max-width: 100%;
				text-align: center;
				.social__nav{
					@include center-block();
					li{
						a{
							font-size: 18px;
							span{
								display: none;
							}
						}
					}
				}
			}
		}
	}

	.inst__logo{
		.logo{
			a{
				width: 100%!important;
				height: 40px!important;
				background-image: url(../images/inst__logo.png)!important;
				background-repeat: no-repeat;
				display: inline-block;
				line-height: 1;
				margin: 137px 0px 20px; 
				span{
						position: relative;
						display: block;
						text-indent: 100%;
						white-space: nowrap;
						overflow: hidden;
						margin: 0;
						padding: 0;
					}
			}
		}
	}
}

@media(max-width: $screen-xs-max){}
/* deprecated: $screen-tablet, or $screen-sm */
@media(min-width: $screen-sm-min){
		.last-photo{
			@include make-sm-column(6);
				.photo-content{

					.photo-img{
					@include make-row;
						a{
						@include make-xs-column(6);
							img{
								max-height: 215px;
							}
						}
					}
				}
		}

	.content-info{
		background-color: #65d5fa;
		background-image: url(../images/footer__bg.jpg)!important;
		background-repeat: repeat-x;
		background-position: center bottom;
		.footer__brand{
			padding: 50px 0 0px;
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 70%, #e1f4fd 80%, #65d5fa 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#ffffff), color-stop(80%,#e1f4fd), color-stop(100%,#65d5fa)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ffffff 70%,#e1f4fd 80%,#65d5fa 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ffffff 70%,#e1f4fd 80%,#65d5fa 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ffffff 70%,#e1f4fd 80%,#65d5fa 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ffffff 70%,#e1f4fd 80%,#65d5fa 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#65d5fa',GradientType=0 ); /* IE6-9 */

			.footer__logo{
				 @include make-sm-column(3);
				.logo{
					margin: 0;
  					padding: 0;
  					a{
						width: 195px!important;
						height: 65px!important;
						background-image: url(../images/footer__logo--sm.png)!important;
						background-repeat: no-repeat;
						display: inline-block;
						line-height: 1;
						margin: 0;
						span{}
  					}
				}
			}
			.footer__sidedar{
				@include make-sm-column(3);
			}
		}
		.inst__logo{
			.logo{
				a{
					width: 505px!important;
					height: 40px!important;
					background-image: url(../images/inst__logo.png)!important;
					background-repeat: no-repeat;
					display: inline-block;
					line-height: 1;
					margin: 137px 0px 20px; 
					span{
							position: relative;
							display: block;
							text-indent: 100%;
							white-space: nowrap;
							overflow: hidden;
							margin: 0;
							padding: 0;
						}
				}
			}
		}
	}
}
@media(min-width: $screen-md-min){}  /* deprecated: $screen-desktop, or $screen-md */
@media(min-width: $screen-lg-min){}  /* deprecated: $screen-lg-desktop, or $screen-lg */