// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    3;

// Colors
$color--orange:			#c85c19;
$brand-primary:         $color--orange;

$color--fb:				#3B5998;
$color--tw:				#5EA9DD;
$color--yt:				#C12226;
$color--gp:				$color--yt;
$color--white:			#FFFFFF;
$color--white--smoke:	#FAFAFA;
$color--white--smoke--dark:	#F1F1F1;
$color--green:			#00703c;
$color--green--light:   #e4f5d5;
$color--green--lime: 	#f5f7e8;
$color--gray:    		#444;
$color--gray--light:	#999999;
$color--brown--lighter: 	#f8f3f3;
$color--brown: 			#683F2C;
$color--brown--cust: 	#e4e1e6;
$color--brown--light:	#927a6f;
$color--black: 			#000000;
$color--yellow: 		#f4e431;
$color--red: 			#df0a22;
$color--brown:			#5b400a;
$color--gray--lighter:	#eeeeee;
$color--orange--light:	#EFD895;
$color--orange--dark: 	#843d10;